<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>5924996670-okq1gtvm42eclj87rrg0ig219c9i6gbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5924996670-okq1gtvm42eclj87rrg0ig219c9i6gbc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDlxoR8D8k1rosgIsjWan4A2VAslbJRO0</string>
	<key>GCM_SENDER_ID</key>
	<string>5924996670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myathein.Project-Group-8</string>
	<key>PROJECT_ID</key>
	<string>spartanvey</string>
	<key>STORAGE_BUCKET</key>
	<string>spartanvey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5924996670:ios:14a3e8599fa8e324</string>
	<key>DATABASE_URL</key>
	<string>https://spartanvey.firebaseio.com</string>
</dict>
</plist>